{
  "presets": ["env", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "syntax-dynamic-import",
    ["import", {
      "libraryName": "antd-mobile",
      "style": "css"
    }]
  ]
}